*{
  box-sizing: border-box;
  margin: 0;
  color: #ffffff;
}

#root{
  background: linear-gradient(45deg, #2b1936 0 50%, #8d6fe2 26.33%);
  overflow: hidden;
}

.hero--img{
  max-width: 174px;
}

.hero--title{
  font-family: 'Dela Gothic One';
  color: #ffffff;
}

.hero--text{
  font-family: 'Poppins', sans-serif;
}


/* .hero--about{
  color: #008080;
} */

